#ie_upgrade_message
  %h1 Your browser is letting you down.
  .explanation Switch to a different browser and experience a safer, more beautiful Internet.
  %ul.suggested_browsers
    %li.firefox
      %a{ :href => "https://www.mozilla.com/en-US/firefox/new/" } Firefox
    %li.chrome
      %a{ :href => "http://www.google.com/chrome" } Chrome
